@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.google.com/specimen/Roboto+Slab');

*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.background-image{
    /* 
    Background from: 
    https://unsplash.com/photos/kB61v9CXdus?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink 
    */
    background-image: url('../HTML/img/maple-bg.jpg');
    -webkite-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(1px);
}

.loginBox{
    width: 320px;
    height: 400px;
    border-radius: 5%;
    background: #0f0f0f;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginBox p{
    margin: 0;
    padding: 0;
}

.loginBox h2{
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginBox h3{
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #f2a154;
    font-size: 16px;
}

.loginBox input[type="submit"]
{
    border: none;
    background: #fb743e;
    outline: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}

.loginBox input[type="submit"]:hover
{
    cursor: pointer;
    background: #f7f6e7;
    color: #000;
    font-size: 20px;
    border-radius: 10px;
}
#avatar{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: calc(50% - 50px);
}

/* ANIMATION */
.rotate {
    animation: rotation 2s
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

