/* ---------------------------------------------------
    SCROLLBAR STYLE
----------------------------------------------------- */
::-webkit-scrollbar{
    width: 8px;
    overflow: auto;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcaa26b4), to(#f2a05467));
    overflow: auto;
}