@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.google.com/specimen/Roboto+Slab');

@import './layout/navbar.css';
@import './layout/scrollbar.css';
@import './layout/sidebar.css';
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
   :root {
    --theme-bg-color: rgba(16, 18, 27, 0.397);
    --border-color: rgba(113, 119, 144, 0.26);
    --body-font: "Poppins", sans-serif;
    --content-title-color: #ebeeff;
    --content-bg: rgba(146, 151, 179, 0.137);
    --button-inactive: rgba(248, 242, 242, 0.521);
}
body {
    font-family: "Poppins", sans-serif;
    background: #0f0f0f;
}
@media screen and (max-width: 480px) {
    body {
        padding: 0.8em;
   }
}
.message-button {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}
.message-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vh;
}
.message-section-title {
    color: var(--content-title-color);
    margin-bottom: 14px;
}
.message-section ul {
    color: var(--content-title-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 79vh;
    justify-content: space-around;
    background-color: var(--content-bg);
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
    overflow:hidden;
    overflow-y:scroll;
}
.message-section ul li {
    list-style: none;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: 0.3s;
}
.message-section ul li:hover {
    background-color: var(--theme-bg-color);
}
.message-section ul li:hover:first-child {
    border-radius: 13px 13px 0 0;
}
.message-section ul li:hover:last-child {
    border-radius: 0 0 13px 13px;
}
.message-section ul li + li {
    border-top: 1px solid var(--border-color);
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.messagegroup {
    display: flex;
    align-items: center;
    width: 150px;
}
@media screen and (max-width: 480px) {
    .products {
        width: 120px;
   }
}
.status {
    margin-left: auto;
    width: 140px;
    font-size: 15px;
    position: relative;
}
@media screen and (max-width: 700px) {
    .status {
        display: none;
   }
}
.status-circle {
    width: 6px;
    height: 6px;
    background-color: #396df0;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: -20px;
}
.status-circle.green {
    background-color: #3bf083;
}
.status-button {
    font-size: 15px;
    margin-top: 0;
    padding: 6px 24px;
}
@media screen and (max-width: 390px) {
    .status-button {
        padding: 6px 14px;
   }
}
.status-button.open {
    background: none;
    color: var(--button-inactive);
    border: 1px solid var(--button-inactive);
}
.status-button:not(.open):hover {
    color: #fff;
    border-color: #fff;
}
.menu {
    width: 5px;
    height: 5px;
    background-color: var(--button-inactive);
    border-radius: 50%;
    box-shadow: 7px 0 0 0 var(--button-inactive), 14px 0 0 0 var(--button-inactive);
    margin: 0 12px;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 187px;
    margin-left: auto;
}
@media screen and (max-width: 480px) {
    .button-wrapper {
        width: auto;
   }
}
img{ max-width:100%;}
.incoming_msg_img {
  display: inline-block;
}
.message_sender{
    display: flex;
    flex-direction: row;
    color: var(--content-title-color);
    align-items: flex-end;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 550;
}
.received_msg {
  display: inline-block;
  padding: 0 0 5px 15px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  border-radius: 3px;
  color: #b7b9c5;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 0;
  width: 100%;
}
.time_date {
  color: #747474;
  font-size: 12px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-weight: normal;

}
.received_withd_msg { width: 90%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    max-height: 75vh;
    overflow-y: auto;
  }


/*body {
    font-family: 'Roboto', sans-serif;
    background: #0f0f0f;
}*/

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #eeeeee;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    transition: all 0.3s;
    align-items: justify;
    position: absolute;
    top: 50px;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

#page #navbar-header h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #FFF;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}
