@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.google.com/specimen/Roboto+Slab');

@import './layout/navbar.css';
@import './layout/scrollbar.css';
@import './layout/sidebar.css';

body {
    font-family: 'Roboto', sans-serif;
    background: #0f0f0f;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #eeeeee;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 50px;
    transition: all 0.3s;
    align-items: justify;
    position: absolute;
    top: 50px;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

#page #navbar-header h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #FFF;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}


#cards {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #0f0f0f;
    background-color: lightgrey;
    border-width: thick;
    border-style: dashed;
}
