@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.google.com/specimen/Roboto+Slab');

@import './layout/navbar.css';
@import './layout/scrollbar.css';
@import './layout/sidebar.css';

body {
    font-family: 'Roboto', sans-serif;
    background: #0f0f0f;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.5);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    background: #252525;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* Hamburger Menu */
#sidebarCollapse{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FCA926;
    text-shadow: 0px 1px 1px rgb(197, 161, 119);
    transition: 0.3s;
}
#sidebarCollapse:hover{ opacity: .5; }

.logo img{
    width: auto;
    height: 50px;
    transition: 0.3s;
}
.logo img:hover{ opacity: .5; }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 50px;
    transition: all 0.3s;
    align-items: justify;
    position: absolute;
    top: 50px;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

#content h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FCA926;
    text-shadow: 0px 1px 2px rgb(197, 161, 119)
}

#page #navbar-header h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #FCA926;
    text-shadow: 0px 1px 1px rgb(197, 161, 119);

}

/* ---------------------------------------------------
    SEARCH BAR STYLE
----------------------------------------------------- */
.searchBar{
    margin-bottom: auto;
    margin-top: auto;
    width: 550px;
    height: 50px;
    background-color: #252525;
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s;
}

.searchInput{
    color: #eeeeee;
    text-align: center;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: none;
    width: 500px;
    caret-color: transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchBar:hover > .searchInput{
    caret-color:#FCA926;
    transition: width 0.4s linear;
}

.searchBar:hover > .searchIcon{
    background: #FCA926;
    color: white;
}

.searchBar:hover{
    background-color: #353b48;
    transition: all .25s ease-out;
}

.searchIcon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}