@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.google.com/specimen/Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import './layout/navbar.css';
@import './layout/scrollbar.css';
@import './layout/sidebar.css';
@import './layout/searchbar.css';

body {
    font-family: 'Roboto', sans-serif;
    background: #0f0f0f;
}

h2 {
    font-family: 'RocknRoll One', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.5);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 50px;
    transition: all 0.3s;
    align-items: justify;
    position: absolute;
    top: 50px;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

#page #navbar-header h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-top: 5px;
    letter-spacing: 2px;
    color: #FFF;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}

.card{
    background-color: #252525;
    box-shadow: 0 2px 4px 0 rgba(211,211,211,0.2);
}


#content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    color: #FCA926;
    text-shadow: 0px 1px 2px rgb(197, 161, 119)
}


#content h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FCA926;
    text-shadow: 0px 1px 2px rgb(197, 161, 119)
}

#content a.list-group-item {
    background-color: #f7f6e7;
    text-shadow: 0px 1px 2px rgb(197, 161, 119)
}