doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Maple Donut - Answer Question

    // 1,2 - CSS BOOTSTRAP LINK
    // 3 - CUSTOM CSS LINKS
    // 4 - FAVICON LINK
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/prof_answer-question.css')
    link(rel='icon' type='image/png' href='/images/donut.png')

    // 1 - FONT AWESOME SCRIPT
    // 2 - jQuery CDN - Slim version (=without AJAX)
    // 3 - Popper.JS
    // 4 - Bootstrap JS
    // 5 - jQuery Custom Scroller CDN
    // 6 - Sidebar Animation JS
    // 7,8 - Google Auth 
    script(src='https://kit.fontawesome.com/c13290656a.js' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(type='text/javascript' src='/javascripts/sidebar.js')
    script(type='text/javascript' src='/javascripts/google.js' async='' defer='')
    script(src='https://apis.google.com/js/platform.js?onload=onLoadProfHome' async='' defer='')

  body
    .wrapper
      // Sidebar
      nav#sidebar
        #dismiss
          i.fas.fa-arrow-left
        // Profile picture
        .sidebar-header
          .row.justify-content-center
            .profile
              .row.justify-content-center
                img#profilepic(src='/images/donut.png')
          h2#profilename.text-center Seth Thompson
          h3.text-center
        hr
        ul.list-unstyled.components
          li
            a(href='/prof_home')
              i.fas.fa-home
              | Home
          li
            a(href='/prof_courses')
              i.fas.fa-book
              | Courses
          li
            a(href='/prof_questions')
              i.fas.fa-question-circle
              | Questions
        hr
        ul.list-unstyled.components
          li
            a(href='/settings')
              i.fas.fa-cog
              | Settings
          li
            a(href='#' onclick='logOut();')
              i.fas.fa-sign-out-alt
              | Logout
      // Page Content
      #page
        nav.navbar.navbar-expand-ml
          #navbar-header.container-fluid
            a#sidebarCollapse(href='#')
              i.fas.fa-bars
            .logo
              a(href='/prof_home')
                img(src='/images/maple-donut-logo.png')
            a(href='#')
        #content
          h1.text-center Answer Question
          hr
          .list-group
            .d-flex.justify-content-center
              a.list-group-item.list-group-item-primary.flex-column.align-items-start.active(href='#' id='link_card_active')
                .d-flex.w-100.justify-content-between
                  h2.text-center #{locals.data[0].question_title}
                  small Position: #{locals.data[0].position}
                p(id='question_card_desc').mb-1 #{locals.data[0].question_desc}
                hr
                small Label/Tag: #{locals.data[0].label}
          form(action='/prof_questions/'+locals.data[0].course_name+'/'+locals.data[0].question_id method='post')
            .d-flex.justify-content-center
              textarea.form-control(maxlength="3000" name="text_area" id="textArea" aria-label="Question Description" placeholder="Answer Question Here\n(3000 Characters Max)")
            br
            .d-flex.justify-content-center
                button.btn.btn-primary(id='submit_button' type='submit') Submit
                  i.fas.fa-arrow-right.fa-fw
                .col-md-auto
                button.btn.btn-danger(id='clear_button' type='clear') Clear
                  i.fas.fa-trash.fa-fw
    .overlay
