doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Maple Donut
    // CSS BOOTSTRAP LINK
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    // CUSTOM CSS LINK
    link(rel='stylesheet' href='/stylesheets/questions.css')
    // FAVICON LINK
    link(rel='icon' type='image/png' href='/images/donut.png')
    // FONT AWESOME SCRIPT
    script(src='https://kit.fontawesome.com/c13290656a.js' crossorigin='anonymous')
  body
    //google auth stuff
    script.
      function logOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        if(auth2.isSignedIn.get()){
          auth2.signOut().then(function () {
            console.log('User signed out.');
            window.location.replace("login");
          });
        }

      }
      function onLoad() {
      gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '798834471674-2hla9ttcnoausu8a6e2gsoo4j0f70v7u.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        ux_mode: 'redirect',
        redirect_uri: 'http://localhost:3000/home',
        hosted_domain: 'mymacewan.ca',
      });
      });
      }
    .wrapper
      // Sidebar
      nav#sidebar
        #dismiss
          i.fas.fa-arrow-left
        // Profile picture
        .sidebar-header
          .row.justify-content-center
            .profile
              .row.justify-content-center
                img(src='/images/donut.png')
          h2.text-center  Username 
          h3.text-center  Biography 
        hr
        ul.list-unstyled.components
          li
            a(href='home')
              i.fas.fa-home
              | Home
          li
            a(href='courses')
              i.fas.fa-book
              | Courses
          li
            a(href='questions')
              i.fas.fa-question-circle
              | Questions
          li
            a(href='professors')
              i.fas.fa-chalkboard-teacher
              | Professors
          li
            a(href='discussions')
              i.fas.fa-comments
              | Discussions
        hr
        ul.list-unstyled.components
          li
            a(href='settings')
              i.fas.fa-cog
              | Settings
          li
            a(href='#' onclick='logOut();')
              i.fas.fa-sign-out-alt
              | Logout
      // Page Content
      #page
        nav.navbar.navbar-expand-md
          #navbar-header.container-fluid
            a#sidebarCollapse(href='#')
              i.fas.fa-bars
            h3.text-center QUESTIONS
            a(href='#')
        #content
          form.card.p-3.bg-light
            h2.text-center Have a question? We'll try to find an answer!
            .input-group
              input#searchInput.form-control.py-2.border-right-0.border(type='search' value='Input your question here!')
              span.input-group-append(onclick="window.location.href='questions_ask';")
                button.btn.btn-outline-secondary.border-left-0.border(type='button')
                  i.fa.fa-search
            small#questionInfo.form-text.text-muted
              | If we can't find a similar one, or you want to speak with someone over voice chat, we'll set you up afterwards!
          .card.p-3.bg-light.container-fluid
            h2.text-center Your outgoing questions and their queues.
            .row
              .col-md-9
                h5 Question
                .list-group
                  a.list-group-item.list-group-item-action(href='#')
                    | This would gather stuff from our database.
                  a.list-group-item.list-group-item-action(href='#')
                    | For text questions answered maybe?
                  a.list-group-item.list-group-item-action(href='#')
                    | For voice chat ready? Maybe with notification?
              .col-md-3
                h5 Place in Queue
                ul.list-group
                  li.list-group-item.place-in-queue 5
                  li.list-group-item.list-group-item-primary.place-in-queue Answered
                  li.list-group-item.list-group-item-success.place-in-queue Voice Chat Ready
          .card.p-3.bg-light.container-fluid
            h2.text-center Recently asked questions related to your courses.
            .row
              .col-md-9
                .list-group
                  h5 Question
                  a.list-group-item.list-group-item-action(href='#')
                    | This would gather stuff from our database.
                  a.list-group-item.list-group-item-action(href='#') What's the difference between a for loop and a while loop?
                  a.list-group-item.list-group-item-action(href='#') How do I create a function in MIPS?
                  a.list-group-item.list-group-item-action(href='#') How do I create a table is SQL?
                  a.list-group-item.list-group-item-action(href='#') Is HTML a programming language?
              .list-group.col-md-3
                h5 Course
                a.list-group-item.list-group-item-action
                  | NULL
                a.list-group-item.list-group-item-action CMPT 101
                a.list-group-item.list-group-item-action CMPT 229
                a.list-group-item.list-group-item-action CMPT 291
                a.list-group-item.list-group-item-action CMPT 101
              nav(aria-label='PageNavCourseQuestions')
                ul.pagination.justify-content-center
                  li.page-item.disabled
                    a.page-link(href='#' tabindex='-1') Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#') Next
          .card.p-3.bg-light
            h2.text-center Popular questions asked to advisors.
            .list-group
              a.list-group-item.list-group-item-action(href='#')
                | This could also be recent questions, I don't know how we'd implement popular questions.
              a.list-group-item.list-group-item-action(href='#') I'm thinking of switching to Arts from Sciences, do all my credits transfer?
              nav(aria-label='PageNavCourseQuestions')
                ul.pagination.justify-content-center
                  li.page-item.disabled
                    a.page-link(href='#' tabindex='-1') Previous
                  li.page-item
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#') Next
    .overlay
    // jQuery CDN - Slim version (=without AJAX)
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    // jQuery Custom Scroller CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    // Bootstrap bundle CDN
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
    // Sidebar Animation
    script(type='text/javascript' src='/javascripts/sidebar.js')
    script(src='https://apis.google.com/js/platform.js?onload=onLoad' async='' defer='')
    script(type='text/javascript' src='/javascripts/google.js')
