doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Maple Donut - Settings
    
    // 1,2 - CSS BOOTSTRAP LINK
    // 3 - CUSTOM CSS LINK
    // 4 - FAVICON LINK
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/settings.css')
    link(rel='icon' type='image/png' href='/images/donut.png')

    // 1 - FONT AWESOME SCRIPT
    // 2 - jQuery CDN - Slim version (=without AJAX)
    // 3 - Popper.JS
    // 4 - Bootstrap JS
    // 5 - jQuery Custom Scroller CDN
    // 6 - Sidebar Animation JS
    script(src='https://kit.fontawesome.com/c13290656a.js' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(type='text/javascript' src='/javascripts/sidebar.js')
    
    .wrapper
      // Sidebar
      nav#sidebar
        #dismiss
          i.fas.fa-arrow-left
        // Profile picture
        .sidebar-header
          .row.justify-content-center
            .profile
              .row.justify-content-center
                img(src='/images/donut.png')
          h2.text-center  Username 
          h3.text-center  Biography 
        hr
        ul.list-unstyled.components
          li
            a(href='home')
              i.fas.fa-home
              | Home
          li.active
            a(href='#coursesSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-book
              | Courses
              ul#coursesSubmenu.collapse.list-unstyled
                li
                  a(href='courses') Current Courses
                li 
                  a(href='#') Search Courses
          li.active
            a(href='#questionsSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-question-circle
              | Questions
              ul#questionsSubmenu.collapse.list-unstyled
                li
                  a(href='questions') Ask a Question
                li 
                  a(href='#') Search Questions
          li
            a(href='professors')
              i.fas.fa-chalkboard-teacher
              | Professors
          li.active
            a(href='#discussionsSubmenu' data-toggle='collapse' aria-expanded='false')
              i.fas.fa-comments
              | Discussions
              ul#discussionsSubmenu.collapse.list-unstyled
                li
                  a(href='discussions') Discussion Board
                li 
                  a(href='#') Group Chats
        hr
        ul.list-unstyled.components
          li
            a(href='settings')
              i.fas.fa-cog
              | Settings
          li
            a(href='login')
              i.fas.fa-sign-out-alt
              | Logout
      // Page Content
      #page
        nav.navbar.navbar-expand-md
          #navbar-header.container-fluid
            a#sidebarCollapse(href='#')
              i.fas.fa-bars
            h3.text-center COURSES
            a(href='#')
        #content
          h2 Account Settings
          p Username: MacEwanUsername.
          p Email: youremail@mapledonut.ca.
          p Password: See MacEwan Account to change password.
          p Profile Picture: Maple Donut.
          p Discipline: Bachelor of Science.
          p Bio: Insert Bio here.
          a.btn.btn-primary(href='settings_edit') Edit
          .line
    .overlay